.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.exercise {
  margin: 1em;
}

.counter {
  margin: 1em;
  border: solid 1px black;
}

.intervalButtons {
  border: solid 1px black;
  margin: 1em;
}
