#landing {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  flex-direction: column;
}

.App-main {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#toolbar {
  color: black;
}

.home {
  text-decoration: none;
  color: black;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5em;
}